<header>
    <app-nav></app-nav> 
</header>
<section id="cashprize">
    <div class="container">
        <h1 class="text-white text-center" id="header_title">TOURNOI ESPORT SPECIAL COMMERCE ET MARKETING</h1>
        <h3 class="text-center text-white mt-3 mb-3">Le 25 & 26 MAI 2024</h3>
            <a [routerLink]="['/inscription']"class="text-center text-white" id="resgistration-btn">Je m'inscris</a>
        <div class="row justify-content-between  align-items-center" >
            <div>
                <img id="cashprize_img" src="assets\images\Site_Aubesport_cashprize.png" alt="cashprize">
            </div>
            <h4 class="text-white">Ils nous soutiennent : </h4>
            <img class="partenaires col-sm-12" src="assets\images\Site_Aubesport_partenaire_Logo_Aubervilliers.svg.png" alt="logo aubervilliers">
            <img class="partenaires col-sm-12" src="assets\images\site_aubesport_partenaire_EPA_ILE_DE_FRANCE.jpg" alt="logo entreprendre pour apprendre">
            <img class="partenaires col-sm-12" src="assets\images\Site_aubesport_partenaire_em_normandie_logo.png" alt="logo partenaire normandie business school">
        </div>
    </div>
</section>
<section id="project">
    <div class="container">
        <div class="row justify-content-between ">
            <div class="col-4">
            <h2 id="aubesport-title" >AUBESPORT</h2>
            <P class="text-white">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptates doloribus velit et provident eum eius iste cum, dolorem, nam quam delectus placeat. Reprehenderit praesentium quisquam aspernatur nesciunt corporis perferendis.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At laboriosam blanditiis quidem, officia quaerat ratione sequi accusamus quia? Asperiores cupiditate modi iure eius atque voluptates mollitia omnis saepe excepturi corrupti.
            </P>
        </div>
        <div class="col-8" id="project-pt2">
            <h2 id="projet-title">LE PROJET</h2>
            <div class="row align-items-center ">
                <img src="assets\images\écrans.png" alt="">
                <p id="bubble">
                    Suivez toute l'évolution du projet sur notre blog
                </p>
                <a id="blog">Accedez au BLOG</a>
            </div>
        </div>
        </div>
    </div>
</section>