header {
  background-image: url("src\assets\images\banniere_AUBesport.png");
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  height: 80vh;
}
#header_title{
    margin-top: 90px;
    letter-spacing: 5px;
    font-weight: 600;

}
#cashprize{
  background: rgb(1, 1, 27);
  position: relative;
}
#inscris{
background: url('src\assets\images\backgound_inscrit.png');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 300px;
height: 86px;
padding-top: 20px;
z-index: 999999;
position: absolute;
bottom: 120px;
left: 39%;
border-radius: 120px;

}
#inscris a{
  text-decoration: none;
  font-size: 1.7rem;
  margin-left: 75px;
}