<header>
    <app-nav></app-nav>

    <h1 class="text-white text-center" id="header_title">TOURNOI ESPORT SPECIAL COMMERCE ET MARKETING</h1>
</header>
<section id="cashprize">
    <div class="container">
        <div id="inscris">
            <a href="#"class="text-center text-white">Je m'inscris</a>
        </div>

        <h3 class="text-center text-white pt-5">Le 25 & 26 MAI 2024</h3>
        <div class="row justify-content-between  align-items-center">
            <h4 class="text-white">Ils nous soutiennent</h4>
            <img class="partenaires" src="assets\images\Site_Aubesport_partenaire_Logo_Aubervilliers.svg.png" alt="logo aubervilliers">
            <img class="partenaires" src="assets\images\site_aubesport_partenaire_EPA_ILE_DE_FRANCE.jpg" alt="logo entreprendre pour apprendre">
            <img class="partenaires" src="assets\images\Site_aubesport_partenaire_em_normandie_logo.png" alt="logo partenaire normandie business school">
        </div>
    </div>
</section>