<router-outlet></router-outlet>
<header>
  <div class="container">
  <nav>
    <a href="#"><img src="assets\images\LOGO_AUBesport.png" alt="logo" id="logo"></a>
    <div class="d-flex justify-content-between ">
      <ul  class="d-flex gap-4  navbar-items justify-content-between">
        <li> <a href="#" class="text-white">INSCRIPTION</a></li>
        <li> <a href="#" class="text-white">BILLETERIE</a></li>
        <li> <a href="#" class="text-white">SHOP</a></li>
        <li> <a href="#" class="text-white">SALON</a></li>
      </ul>
      <ul   class="d-flex gap-4  navbar-items justify-content-between">
        <li ><a href="#"class="text-white">PARTENAIRES</a></li>
        <li ><a href="#"class="text-white">INFOS</a></li>
        <li ><a href="#"class="text-white">BLOG</a></li>
        <li ><a href="#"><img src="assets/images/contact_logo.png" alt="contact" id="contact_logo"></a></li>
      </ul>
      </div> 
    </nav>
</div>
<h1 class="text-white text-center" id="header_title">TOURNOI ESPORT SPECIAL COMMERCE ET MARKETING</h1>
</header>

