

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
#contact_logo {
  height: 25px;
  width: auto;
}
#logo {
  width: 60px;

}

nav{
  /* background: rgb(0,0,0);
  background: linear-gradient(157deg, rgba(0,0,0,0.9191876579733456) 0%, rgba(0,0,0,0.8967786943879115) 14%, rgba(74,76,190,1) 24%, rgba(1,3,103,0.8127450809425333) 29%, rgba(11,4,150,0.7539215515307686) 34%, rgba(66,4,129,0.8127450809425333) 40%, rgba(215,209,218,0.7987394787016369) 43%, rgba(107,5,146,0.8239495627352503) 49%, rgba(191,171,196,0.7903361173570991) 54%, rgba(128,5,155,0.8043417195979954) 61%, rgba(156,6,166,0.7959383582534576) 69%, rgba(232,7,197,0.7959383582534576) 74%, rgba(71,2,61,0.8267506831834296) 80%, rgba(1,1,1,0.9303921397660627) 86%);  */




  /* background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.9191876579733456) 0%, rgba(0,0,0,0.8967786943879115) 14%, rgba(74,76,190,1) 24%, rgba(1,3,103,0.8127450809425333) 29%, rgba(11,4,150,0.7539215515307686) 34%, rgba(66,4,129,0.8127450809425333) 40%, rgba(215,209,218,0.7987394787016369) 43%, rgba(107,5,146,0.8239495627352503) 49%, rgba(191,171,196,0.7903361173570991) 54%, rgba(128,5,155,0.8043417195979954) 61%, rgba(156,6,166,0.7959383582534576) 69%, rgba(232,7,197,0.7959383582534576) 74%, rgba(71,2,61,0.8267506831834296) 80%, rgba(1,1,1,0.9303921397660627) 86%);  */



  /* background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0.9191876579733456) 0%, rgba(6,34,190,1) 7%, rgba(0,0,0,0.8967786943879115) 14%, rgba(74,76,190,1) 24%, rgba(1,3,103,0.8127450809425333) 29%, rgba(11,4,150,0.7539215515307686) 34%, rgba(66,4,129,0.8127450809425333) 40%, rgba(215,209,218,0.7987394787016369) 45%, rgba(107,5,146,0.8239495627352503) 52%, rgba(191,171,196,0.7903361173570991) 61%, rgba(128,5,155,0.8043417195979954) 67%, rgba(156,6,166,0.7959383582534576) 72%, rgba(232,7,197,0.7959383582534576) 75%, rgba(71,2,61,0.8267506831834296) 83%, rgba(1,1,1,0.9303921397660627) 97%);  */


  background: rgb(1,15,105);
  background: linear-gradient(157deg, rgba(1,15,105,0.9275910193178833) 23%, rgba(154,0,120,0.9303921397660627) 77%); 
  /* background-image: url('src\assets\images\navbar.png');
  background-repeat: no-repeat; */

}
.navbar-transparent {
  background-color: rgba(0, 0, 0, 0); /* Fond transparent */
}

