<app-nav></app-nav>
<div *ngIf="isAccessDenied === true" class="alert alert-danger m-5 text-center ">
  <p> Accès non autorisé </p>
  <button class="btn btn-primary" [routerLink]="['/']">Aller à la page d'accueil</button>
</div>
<div *ngIf="isAccessDenied === false" class="justify-content-center my-3 container">
  <div *ngIf="users">
    <div class="d-flex flex-row my-2 justify-content-end">
      <button class="btn btn-outline-dark mx-2" [routerLink]="['tournaments']" ngbTooltip="Création d'une nouvelle
          inscription"><i class="fas fa-plus"></i></button>
      <div class="col-1">
        <select class="form-select" (change)="onElementsPerPageChange($event)">
          <option value="10" [selected]="elementsPerPage === 10">10</option>
          <option value="20" [selected]="elementsPerPage === 20">20</option>
          <option value="50" [selected]="elementsPerPage === 50">50</option>
        </select>
      </div>
    </div>
    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Email</th>
          <th>Pseudo</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Créé le</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td class="align-middle">{{ user.email }}</td>
          <td class="align-middle">{{ user.pseudo }}</td>
          <td class="align-middle">{{ user.firstName }}</td>
          <td class="align-middle">{{ user.lastName }}</td>
          <td class="align-middle">{{ user.createdAt | date }}</td>
          <td>
            <button class="btn btn-link" (click)="onModify(user)" ngbTooltip="Modifier">
              <i class="fas fa-edit"></i>
            </button>
            <button *ngIf="user.deletedAt === null" class="btn btn-link" id="btn-delete"
              (click)="confirmDeleteUser(user)" ngbTooltip="Supprimer">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex flex-row justify-content-between">
      <button class="btn btn-outline-dark" (click)="onPreviousPage()" [disabled]="currentPage === 1">Précédent</button>
      <button class="btn btn-outline-dark" (click)="onNextPage()" [disabled]="currentPage === totalOfPages"
        [disabled]="totalOfPages === 1">Suivant</button>
    </div>
  </div>

  <ng-template #deleteConfirmation let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Confirmer à supprimer</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Vous êtes sûr de vouloir supprimer cet utilisateur (email: {{ selectedUser?.email }})?</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="deleteUser(selectedUser)"
        [disabled]="submitted">Supprimer</button>
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Annuler</button>
    </div>
  </ng-template>

  <ng-template #deleteInfo let-modal>
    <div class="modal-header">
      <h5 class="modal-title">Utilisateur est supprimé</h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>L'utilisateur a été supprimé avec succès.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close')">Fermer</button>
    </div>
  </ng-template>
</div>